:root {
  --bg-color: #191A19;
  --font-color: #4E9F3D;
  --btn-bg: #1E5128;
  --btn-font: #D8E9A8
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1rem;

  background-color: var(--bg-color);
  color: var(--font-color);

  min-height: 100vh;
  text-align: center;
}

header {
  margin: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center
}

.logo {
  max-height: 55px;
}

.link-gerados p {
  font-weight: 400;
  font-size: 0.8rem
}

.flecha {
  color: var(--font-color);
}

h1 {
  font-size: 2rem;
  font-weight: 700;

  text-transform: uppercase
}

h2 {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 400
}

h3 {
  font-size: 1rem;
  padding: 10px;
  font-weight: 400
}

.antigo, .novo {
  margin: 72px 0;
}

.input-geral {
  width: 30%;
  
  font-size: 1rem;
  text-align: center;

  padding: 8px;
  border-radius: 5px;
  
  margin-right: 15px
}

.btn {
  background-color: var(--btn-bg);
  color: var(--btn-font);
  
  font-size: 1rem;
  
  padding: 8px 12px;

  border: none;
  border-radius: 5px;

  cursor: pointer
}

.novos-campos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoria {
  padding: 0 50px
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
}

.dimensoes-itens {
  display: flex;
  justify-content: center;

  gap: 10px
}

.input-dimensao {
  width: 20%
}

.select-geral {
  padding: 8px;
  border-radius: 5px;
}

.codigo-gerado {
  border: none;
  padding: 0.8rem;
  margin-bottom: 1rem;
  
  display: inline-block;
  
  font-size: 2rem;
}

.codigo-temporario {
  display: flex;

  justify-content: center
}

.btn-codigo-novo {
  margin: 0 10px
}

footer {
  font-size: 0.8rem
}